* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #5865F2;
  color: #fff;
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: #2C2F33;
  padding: 50px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

h1 {
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  background-color: #7289DA;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #5b6eae;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.button {
  background-color: #7289DA;
  padding: 10px;
  text-decoration: none;
  color: white;
  font-size: 18px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  text-align: center;
}

.button:hover {
  background-color: #5b6eae;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: #2C2F33;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.user-info {
  color: #fff;
  font-size: 18px;
}

.settings i {
  color: #fff;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.server-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.server-item {
  background-color: #7289DA;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  color: white;
  font-size: 16px;
}